.App {
  text-align: center;
  background-color: #120345 ;
}

.movie-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #f0f0f0; /* Light black background color */
}

.movie-card {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  /* Additional styling for individual movie cards */
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .movie-card {
    width: calc(100% - 10px); /* Adjust for mobile screens */
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .movie-card {
    width: calc(50% - 10px); /* Adjust for smaller screens */
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .movie-card {
    width: calc(33.33% - 10px); /* Adjust for medium screens */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .movie-card {
    width: calc(25% - 10px); /* Adjust for larger screens */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .movie-card {
    width: calc(20% - 10px); /* Adjust for extra-large screens */
  }
}
